<div class="container-fluid fondo">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
    </div>
    <div class="container text-center title">
        <img src="../../../assets/img/characters.png" alt="" >
    </div>
    
    <div class="container box">
        <div class="row">
            <h2 class="text-center col-12 mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, quaerat.</h2>
        </div>
        <div class="row text-center col-12">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore exercitationem ipsam deleniti esse veritatis asperiores reprehenderit quos omnis voluptate sint corporis rem, quisquam porro ab tempora odit. Veritatis, aut quam.</p>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <h3>Choose a Character</h3>
                <select [formControl]="name" class="mb-3">
                    <option [value]="character" *ngFor="let character of characters">{{character.name}}</option>
                </select>
            </div>
            <div class="col-6 text-center">
                <h3>hola</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nam vero, facere voluptate deserunt reiciendis dignissimos cum nulla, quas, consequatur tenetur quod ex? Dignissimos reiciendis impedit quia harum tenetur nisi. Velit necessitatibus, laborum et nesciunt natus impedit nulla est maxime!</p>
            </div>
        </div>
    </div>
</div>
