.fondo{
    background-image: url('../../../assets/img/fondo1.PNG');
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

.title img{
    width: 20%;
    height: 20%;
}

.box{
    border: 1px solid #e0a800;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background-image: url('../../../assets/img/mail.jpg');
}

hr{
    border: 1px solid #e0a800;
}
.top{
    padding: 0%;
}

.top img{
    width: 8rem;
    height: 10rem;
    border: 1px solid #e0a800;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.top :hover{
    cursor: pointer;
    border: 3px solid white;
}
h2{
    font-weight: 700;
    
}
h3{
    font-weight: 700;
    font-size: 1.6rem;
}
p{
    font-size: 1.2rem;
    font-weight: 600;
}
li{
    font-size: 1.4rem;
    font-weight: 700;
}

a :hover{
    text-decoration: underline #e0a800;
}

.noneDecoration{
    list-style: none;
    font-weight: 700;
    font-size: 1.6rem;
}