<div class="container-fluid fondo">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
    </div>
    <div class="container text-center title">
        <img src="../../../assets/img/books.png" alt="" >
    </div>
    
    <div class="container box mt-2">
        <div class="text-center mt-3">
            <h2><u>The Lord of the Rings is an epic high fantasy novel by the English author and scholar J. R. R. Tolkien, set in Middle-earth. </u></h2>
            <p class="container">
                The Lord of the Rings been reprinted many times and translated into at least 38 languages. The enduring popularity of The Lord of the Rings has led to numerous references in popular culture. 
            </p>
        </div>
        <div class="row">
            <div class="col-6 text-center ">
                <h3>Choose a Book</h3>
                <select [(ngModel)]="name" class="mb-3" (change)="selectValue()">
                    <option [ngValue]="book" *ngFor="let book of books">{{book.name}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center mt-3">
                <h3 *ngIf="click">{{selectedValue.name}}</h3>
                <p *ngIf="book1">When the eccentric hobbit Bilbo Baggins leaves his home in the Shire, he gives his greatest treasure to his heir Frodo: a magic ring that makes its wearer invisible. Because of the difficulty Bilbo has in giving the ring away, his friend the wizard Gandalf the Grey suspects that the ring is more than it appears. Some years later, Gandalf reveals to Frodo that the ring is in fact the One Ring, forged by Sauron the Dark Lord thousands of years before to enable him to dominate and enslave all of Middle-earth. Gandalf tells Frodo that the Ring must be destroyed to defeat Sauron's evil. Frodo sets off with three companions, fellow hobbits Merry, Pippin, and Sam.</p>
                <p *ngIf="book2">As Frodo and Sam leave, a band of orcs captures Merry and Pippin and kills Boromir. Aragorn, Legolas, and Gimli decide to let the Ringbearer go and instead rescue Merry and Pippin. Aragorn, Legolas, and Gimli pursue the orcs as they run across the fields of Rohan toward Saruman's fortress at Isengard. They find evidence that the orcs of Sauron and Saruman have quarreled and that either one hobbit is still alive, but they begin to lose hope as they fall farther and farther behind. After three days of running with little rest, they meet a troop of the riders of Rohan. The horsemen's leader, Éomer, informs the trio that the orcs were destroyed on the edge of Fangorn forest, with no survivors. He lends them horses to continue the pursuit, but offers little hope that the hobbits escaped the battle.</p>
                <p *ngIf="book3">To keep Pippin out of further trouble, Gandalf rides with him to Minas Tirith, the city that Sauron's armies will soon besiege. They meet with Boromir's father Denethor, the Ruling Steward of Gondor, and in gratitude for Boromir's sacrifice (saving them from the orcs at Parth Galen), Pippin pledges his service to the steward as a Guard of the White Tower. Denethor does not trust Gandalf, and he knows that the wizard has brought Aragorn to reclaim the throne. Faramir returns to the city, wearied from fighting, and reports his encounter with Frodo. Angry that his son did not bring the Ring to Gondor, Denethor sends the exhausted captain back into the field to lead a rearguard action against the oncoming army. When they make their last dash for the safety of the gates, Gandalf rides out to defend them from the flying Nazgûl, but Faramir falls at the gates.</p>
                <p *ngIf="book4">On the day the story begins, Bilbo is enjoying a pipe outside his front door when an old man with a long cloak and a staff arrives. After the old man introduces himself, Bilbo recognizes him as the wizard Gandalf, who has created spectacular fireworks displays on holidays in Hobbiton, but Bilbo still looks on the old wizard with a suspicious eye. When Gandalf asks if Bilbo would be interested in going on an adventure, Bilbo declines and quickly excuses himself. He invites the wizard to come over for tea sometime but only so as not to seem rude—in reality, he wants nothing to do with Gandalf and his adventures.</p>
                <p *ngIf="book5">Bilbo Baggins, the heroic hobbit, and the band of Dwarfs are in the heart of Mirwood. They seek the Lonely Mountain, where they hope to reclaim their treasure from the great dragon Smaug. Dwarves are not heroes, but calculating folk with a great idea of the value of money; some are tricky and treacherous and pretty bad lots; some are not, but are decent enough people like Thorin and Company, if you don’t expect too much.</p>
                <p *ngIf="book6">
                    El Silmarillion es una colección de obras de JRR Tolkien que fueron editadas y publicadas póstumamente por su hijo Christopher , con la ayuda del escritor de ficción fantástica Guy Gavriel Kay .

                    Es la fuente principal de la historia antigua de la Tierra Media y la Primera Edad , y de la caída del reino de Númenor .
                    Some of the notable stories in the book which summarize the four Great Tales are:
                    
                    "Of Beren and Lúthien",
                    "Of Túrin Turambar",
                    "Of Tuor and the Fall of Gondolin",
                    "Of the Voyage of Eärendil and the War of Wrath".</p>
                <p *ngIf="book7">"There are tales of Middle-earth from times long before The Lord of the Rings, and the story told in this book is set in the great country that lay beyond the Grey Havens in the North: lands where Treebeard once walked, but which were drowned in the great cataclysm that ended the First Age of the World.

                    In that remote time Morgoth, the first Dark Lord, dwelt in the vast fortress of Angband in the North; and the tragedy of Turin and his sister Niënor unfolded within the shadow of the fear of Angband and the war waged by Morgoth against the lands and secret cities of the Elves.</p>
                <p *ngIf="book8">The tale of Beren and Lúthien was, or became, an essential element in the evolution of the mythology of ancient Arda (the Creation through the First Age) conceived by J.R.R. Tolkien, which were published as The Silmarillion. Returning from France and the battle of the Somme at the end of 1916, he wrote the tale in the following year.

Essential to the story, and never changed, is the fate that shadowed the love of Beren and Lúthien: for Beren was a mortal man, but Lúthien was an immortal elf. Her father, a great elvish lord, in deep opposition to Beren, imposed on him an impossible task that he must perform before he might wed Lúthien. This is the kernel of the legend; and it leads to the supremely heroic attempt of Beren and Lúthien together to rob the greatest of all evil beings, Melkor, called Morgoth, the Black Enemy, of a Silmaril. </p>
            </div>
            <div class="col-6 text-center portada">

                <a href="https://lotr.fandom.com/wiki/The_Fellowship_of_the_Ring_(novel)"><img *ngIf="book1"src="../../../assets/img/book1.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/The_Two_Towers_(novel)"><img *ngIf="book2" src="../../../assets/img/book2.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/The_Return_of_the_King_(novel)"><img *ngIf="book3"src="../../../assets/img/book3.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/The_Hobbit"><img *ngIf="book4"src="../../../assets/img/book4.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/The_Hobbit"><img *ngIf="book5"src="../../../assets/img/book5.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/The_Silmarillion"><img *ngIf="book6"src="../../../assets/img/Silmarillion.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/The_Children_of_H%C3%BArin"><img *ngIf="book7"src="../../../assets/img/children.jpg" alt=""></a>
                <a href="https://lotr.fandom.com/wiki/Beren_and_L%C3%BAthien_(book)"><img *ngIf="book8"src="../../../assets/img/beren.jpg" alt=""></a>
            </div>
        </div>
    </div>
</div>