<div class="container-fluid fondo">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
    </div>
    <div class="container text-center title">
        <img src="../../../assets/img/books.png" alt="" >
    </div>
    
    <div class="container box mt-2">
        <div class="row">
            <h2 class="text-center col-12 mt-2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem, quaerat.</h2>
        </div>
        <div class="row text-center col-12">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore exercitationem ipsam deleniti esse veritatis asperiores reprehenderit quos omnis voluptate sint corporis rem, quisquam porro ab tempora odit. Veritatis, aut quam.</p>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <h3>Choose a Book</h3>
                <select [formControl]="name" (click)="getChapters(name)">
                    <option [value]="book" *ngFor="let book of bookName">{{book}}</option>
                </select>
            </div>
            <div class="col-6 text-center">
                <h3>{{name.value}}</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nam vero, facere voluptate deserunt reiciendis dignissimos cum nulla, quas, consequatur tenetur quod ex? Dignissimos reiciendis impedit quia harum tenetur nisi. Velit necessitatibus, laborum et nesciunt natus impedit nulla est maxime!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center portada">
                <img src="../../../assets/img/lacomunidad.jpg" alt="">
            </div>
            <div class="col-6 text-center">
                <h4>Chapters</h4>
                <ul></ul>
            </div>

        </div>
    </div>
</div>