#video_background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 10rem;
    max-width: 150rem;
    min-height: 10rem;
    z-index: -1000;
    overflow: visible;
 }

 #title{
     width: 100%;
     position: absolute;
     overflow: hidden;
     z-index: -1;
     margin-top: 2rem;
 }

 .box{
     margin-top: 5rem;
     width: 60rem;
     background-image: url('../../../assets/img/mail.jpg');
     border-radius: 4px;
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
     border: 1px solid #e0a800;
     height: 28rem;
     background-size: cover;
 }

 .go{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    font-weight: 600;
 }
 
 .fake{
     height: 10rem;
 }