
<div class="container-fluid">
    <div class="container d-flex justify-content-center bg-light box" *ngIf="display" >
        <app-wellcome></app-wellcome>
    </div>
    <div class="text-center" *ngIf="display">
        <button class="btn btn-warning mt-3 go" (click)="noneDisplay()">Let's GO!</button>
        <!-- <div class="text-right">    
            <button class="btn btn-danger mt-3 go" (click)="showNavbar()">Skip</button>
        </div> -->
    </div>
    
    <div>
        <div class="container fake" *ngIf="fakeDiv">

        </div>
        <div class="container inactive" *ngIf="showNav" [@nav-animation]="show">
            <app-navbar></app-navbar>
        </div>
        <div class="container inactive" [@oppen]="state">
            <img src="../../../assets/img/Titulo.png"  id="title" alt="" >
        </div>
    </div>
    <div class="container mt-5" *ngIf="showNav">
        <app-article></app-article>
    </div>
    <video src="../../../assets/video/Mountain - 34608.mp4" id="video_background" (play)="togleButton()" (ended)="showNavbar()" #videoRef>
    <source src="../../../assets/video/Mountain - 34608.mp4"></video>
    <audio #musicRef>
        <source src="../../../assets/audio/intro.mp3">
    </audio>
</div>