#video_background {
    position: absolute;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
 }

 #title{
     width: 100%;
     position: absolute;
     overflow: hidden;
     z-index: -1;
 }

 .box{
     margin-top: 5rem;
     width: 60rem;
     background-image: url('../../../assets/img/mail.jpg');
     border-radius: 4px;
     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
     border: 1px solid #e0a800;
     height: 28rem;
     background-size: cover;
 }

 .go{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
 }
