.navbar{
    z-index: 2;
}

.navbar img{
    width: 2rem;
    height: 2rem;
}
.navbar a{
    font-size: 2rem;
    margin: 1rem;
    color: #e0a800;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}