<div class="container d-flex">    
    <div class="row align-items-center justify-content-around">
        <div class="col-3 letter text-center">
            <img src="../../../../assets/img/letras1.png" alt="">
        </div>    
        <div class="col-6 d-flex justify-content-center navbar w-50">
            <a href=" "><button class="btn btn-warning">Home</button></a>
            <a href="/movies"><button class="btn btn-warning">Movies</button> </a>
            <a href="/books"><button class="btn btn-warning">Books</button></a>
            <a href="/characters"><button class="btn btn-warning">Characters</button></a>
        </div>
        <div class="col-3 letter text-center">
            <img src="../../../../assets/img/letras1.png" alt="">
        </div> 
    </div>
</div>
    
