.navbar{
    border-radius: 4px;
    padding: 0%;
}

.navbar img{
    width: 14rem;
    height: 4rem;
}
.navbar a{
    font-size: 2rem;
    margin: 1rem;
    font-weight: 600;
}
.navbar a :hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.btn{
    font-size: 1.2rem;
}
.letter img{
    width: 100%;
    height: 100%;
}