
<div class="container-fluid box bg-light">
    <h2 class="text-center">Welcome adventurer</h2>
    <p class="text-center">On this website you will find all kinds of information about the world of Lotr, about movies, books and their characters.</p>
    <p class="text-center">Choose your adventure well.</p>
</div>
<div class="container-fluid mt-2">
    <div class="row d-flex justify-content-between">    
        <div class="col-4 contents">
            <h2 class="text-center">Hola</h2>
            <img src="../../../../assets/img/golum.jpg" alt="">
        </div>
        <div class="col-4 contents">
            <h2 class="text-center">Hola</h2>
            <img src="../../../../assets/img/golum.jpg" alt="">
        </div>
        <div class="col-4 contents">
            <h2 class="text-center">Hola</h2>
            <img src="../../../../assets/img/golum.jpg" alt="">
        </div>
    </div>
</div>
