.box{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
     border: 1px solid #e0a800;
     margin-top: 12rem;
     background-image: url('../../../../assets/img/mail.jpg');
     border-radius: 4px;
     
}

.box h2{
    margin-top: 2rem;
    font-size: 4rem;
    font-weight: 700;
}

.box p{
    font-size: 2rem;
    font-weight: 500;
}

.contents1{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0a800;
    background-image: url('../../../../assets/img/peliculas.jpg');
    border-radius: 4px;
    padding: 0%;
    background-size: cover;
}
.contents2{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0a800;
    background-image: url('../../../../assets/img/libros.jpg');
    border-radius: 4px;
    padding: 0%;
    background-size: cover;
}
.contents3{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0a800;
    background-image: url('../../../../assets/img/personajes.png');
    border-radius: 4px;
    padding: 0%;
    background-size: cover;
}

img{
    width: 100%;
    height: 100%;
    
}
a :hover{
    border: 2px solid white;
}