<div class="container-fluid mail">
    <h1 class="text-center">Wellcome to LOTR</h1>
    <h2 class="text-center">
        "A Ring to rule them all, a Ring to find them, a Ring to draw them all and bind them in darkness"</h2>
    <div class="row">
        <div class="col-4 simbolo d-flex justify-content-center mt-3">
            <img src="../../../../assets/img/simbolo.png" alt="">
        </div>
        <div class="col-8 mt-3">
            <p class="p1">Warning for adventurers! The path from here is dangerous!
            </p>
            <p class="p2">In this adventure you will discover that it inhabits the depths of ancient legends, from the pestilential caves of the ogres to the majestic elven cities.</p>
            <div class="simbolo d-flex justify-content-center mt-3">
                <img src="../../../../assets/img/letras1.png" alt="">
            </div>
        </div>
    </div>
</div>