<div class="container-fluid fondo">
    <div class="container">
        <app-navbar></app-navbar>
    </div>
    <div class="container">
    </div>
    <div class="container text-center title">
        <img src="../../../assets/img/movies.png" alt="" >
    </div>
    
    <div class="container box">
        <div class="row">
            <div class="text-center col-12 mt-2 ">
                <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil, error.</h3>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 text-center text-center">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore quis, quia repudiandae accusantium pariatur quidem tempora iste necessitatibus ratione iure vitae amet hic. Culpa est, quasi molestiae non qui hic vero delectus ullam nulla similique, quibusdam magni ea. Exercitationem, culpa?</p>
            </div>
        </div>
        <div class="row d-flex">
            <div class="col-9 text-center ">
                <h3 *ngIf="click"> {{selected.name}} </h3>
                <video width="100%" height="100%">
                    <source src="../../../assets/video/Mountain - 34608.mp4"
                        type="video/mp4">
                </video>
            </div>
            <div class="col-3 text-center text-center">
                <h3>Choose a Movie</h3>
                <select [(ngModel)]="name" class="mb-3" (change)="selectedMovie()">
                    <option [ngValue]="movie" *ngFor="let movie of movies">{{movie.name}}</option>
                </select>
                <div *ngIf="click">   
                    <h3>Information </h3>
                    <ul class="text-left">
                        <li>Award nominations: {{selected.academyAwardNominations}} </li>
                        <li>Award wins: {{selected.academyAwardWins}}</li>
                        <li>Revenue in millions: {{selected.boxOfficeRevenueInMillions}}</li>
                        <li>Budget in millions: {{selected.budgetInMillions}}</li>
                        <li>Rotten tomates score: {{selected.rottenTomatesScore}}</li>
                        <li>Time in minutes: {{selected.runtimeInMinutes}}</li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>